body {
    width: 1920px;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bold;
}

.player {
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 4px rgba(0,0,0,1);
}
.score {
    font-size: 70px;
}

.round-info {
    position: absolute;
    top: 310px;
    display: flex;
    flex-direction: column;
    width: calc(50% - 400px);
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    left: 50px;
    gap: 5px;
}
.round-info > div {
    width: 50%;
    height: 30px;
    text-shadow: 0px 0px 4px rgba(0,0,0,1);
}

.map-draft, .civ-draft {
    display: flex;
    flex-direction: row;
}
.civ-draft {
    gap: 8px;
    max-width: 580px;
}
.map-draft .map.used, .civ-draft .civ.used {
    filter: grayscale(30%) brightness(60%);
    opacity: 0.75;
}
.map-draft .map {
    zoom: 0.9;
}

.draft {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    top: 150px;
    flex-direction: column;
    width: 580px;
}
.draft.left {
    left: 5px;
    align-items: flex-end;
}
.draft.right {
    right: 310px;
    align-items: flex-start;
}
.draft.left .map-draft {
    flex-direction: row-reverse;
}
.draft.left .civ-draft {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.draft.right .civ-draft {
    flex-direction: row;
    flex-wrap: wrap;
}
.civ {
    position: relative;
    height: 100%;
}
.draft .civ:not(.not-empty) {
    display: none;
}
.civ-img.empty {
    display: none;
}
.civ-img {
    height: 45px;
    width: auto;
}
.civ-win, .civ-ban, .civ-snipe {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.civ-win {
    height: 30px;
    top: 0;
}
.civ-ban, .civ-snipe {
    height: 93px;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.game:not(.current) .left-civ.loss, .game:not(.current) .right-civ.loss  {
    filter: grayscale(40%) brightness(50%);
}
.left-civ.win .civ-win, .right-civ.win .civ-win {
    display: block;
}
.civ.Ban .civ-ban, .civ.Snipe .civ-snipe {
    display: block;
}
.civ.Ban > .civ-img, .civ.Snipe > .civ-img {
    filter: grayscale(20%) brightness(70%);
}
.civ-img.empty ~ .civ-ban, .civ-img.empty ~ .civ-snipe {
    display: none;
}

.map {
    position: relative;
}
.map .entry {
    padding: 6px;
}
.map-border-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.map-img {
    width: 240px;
}
.map-name {
    position: absolute;
    left: 50%;
    bottom: 15px;
    max-width: 100%;
    white-space: wrap;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    line-height: 0.9em;
    font-size: 1.4em;
    text-shadow: 0px 0px 4px rgba(0,0,0,1);
}

.games {
    position: absolute;
    top: 490px;
    left: calc(50% - 150px);
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
}
.game:nth-child(even) {
    transform: translateY(100px);
}
.game:nth-child(odd) {
    transform: translateY(-100px);
}
.game {
    position: relative;
    margin: 0 -45px;
    height: 110px;
}
.game .left-civ {
    position: absolute;
    left: 10px;
    top: 60px;
    transform: translate(-50%, 0);
}
.game .right-civ {
    position: absolute;
    right: 10px;
    top: 60px;
    transform: translate(50%, 0);
}
.game .civ-img {
    height: 55px;
}

.games .game.finished .map {
    filter: grayscale(40%) brightness(40%);
    opacity: 0.85;
}
.games .game:not(.current) .highlight {
    display: none;
}
.games .game.current .highlight {
    display: block;
    border-radius: 100%;
    background-color: #EC962A;
    filter: blur(40px);
    width: 68%;
    height: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    z-index: -1;
    opacity: 1;
    animation: flash ease-in-out 1.2s alternate infinite;
}
.games .game.current .map-img {
    animation: subtle-expand ease-in-out 1.2s alternate infinite;
}

.current-game {
    position: absolute;
    top: 525px;
    left: calc(50% - 150px);
    transform: translate(-50%, -50%) scale(2.5);
    display: flex;
    flex-direction: row;
}
#main.cams-3 .current-game {
    display: none;
}

#lobby-info {
    width: 400px;
    position: absolute;
    left: 1290px;
    font-size: 20px;
    transform: translate(-50%, 0);
    color: white;
    text-shadow: 0px 0px 4px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    top: 310px;
}
#timer-output {
    font-size: 50px;
}

.talent {
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 4px rgba(0,0,0,1);
}